#main {
    display:flex;
}

header {
    width:100%;
    text-align:center;
    background-color:rgb(106, 213, 231);
    height:75px;
    font-size:50px;
    padding-top:10px;
    font-weight:bolder;

}

.test {
    border:solid 2px;
    margin:10px;
    padding:5px;
}

.search {
    margin:2px;
    width:90%;
}

#forecast {
    display:flex;
}

#title {
    margin-bottom:10px;
    padding-top:5px;
}

.fdf {
    border:solid 2px;
    margin-right:10px;
    width:20%;
    height:100px;
}

.forecast {
    width:20%;
    margin:10px;
}